.env
# Ignore all log files
*.log

# Ignore the build directory
build/

# Ignore sensitive configuration files
config.ini

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore node modules
node_modules/

venv/

data/